<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mr_zyl.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.example.mr_zyl.project.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/THEME"
        >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sGz75rp7TClWy47XIqHZ46dvvYmhACKK" />

        <activity android:name="com.example.mr_zyl.project.MainActivity"  android:theme="@style/AppTheme"/>
        <activity
            android:name="com.example.mr_zyl.project.LaunchActivity"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.mr_zyl.project.pro.publish.view.PlayActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.MoreLevelActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.PuBuWaterActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.BaiduMapActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.CurtainActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.FastBlurActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.BlurredActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.ListViewSSActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.LoadGifActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.mine.view.activity.QRImageActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.newpost.view.Activity.TestMeasureActivity" />
        <activity android:name="com.example.mr_zyl.project.pro.essence.view.activity.BrowerActivity" />
    </application>

</manifest>